{% extends 'layout.html' %}
{% load rules %}

{% block body %}
{% with request.resolver_match as view_detail %}

{% if not request.user.is_authenticated %}
<div class="jumbotron">
    <h1 class="display-4">Hello, stranger!</h1>
    <p>Seems like you're either new here or not signed in!<br>
        You can view projects but won't be able to view profiles until you're signed in.<br></p>
    <hr class="my-4">
    Click below to get started.<br>
    <form action="{% url 'signup' %}" method="post">
        {% csrf_token %}
        <button type="submit">Sign Up</button>
    </form>
    <form action="{% url 'signin' %}" method="post">
        {% csrf_token %}
        <button type="submit">Sign In</button>
    </form>
</div>
{% endif %}

{% if object_list %}
<table class="u-full-width circle--table table-striped">
<thead>
  <tr>
    <th>Project</th>
    <th>Owner</th>
    <th>Positions</th>
    <th></th>
  </tr>
</thead>
<tbody>
  {% for project in object_list %}
  {% has_perm 'team_builder.edit_project' user project as can_edit_project %}
  {% has_perm 'team_builder.leave_project' user project as can_leave_project %}
  {% has_perm 'team_builder.join_project' user project as can_join_project %}
  <tr class="clickable-row" data-href="{{ project.get_absolute_url }}">
      <td class="nowrap">{{ project.name }}</td>
      <td><a href="{% url 'profile' profile_id=project.owner.id %}">{{ project.owner.username }}</td>
      <td>{{ project.position_set.all|join:"," }}</td>
      <td class="vert-aligned">{% include "projects/project_control_buttons.html" %}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% elif view_detail.view_name == 'projects_filter' and view_detail.kwargs.filter_type != 'own'%}
<div class="jumbotron">
    <h1 class="display-4">There doesn't seem to be anything here yet</h1>
      <form action="{% url 'home' %}" method="get">
          {% csrf_token %}
          <button type="submit">Go Home</button>
      </form>
</div>
{% else %}
<div class="jumbotron">
    <h1 class="display-4">There aren't any projects here yet!</h1>
    <p>How about adding your own?</p><br>
      <form action="{% url 'project_create' %}" method="get">
          {% csrf_token %}
          <button type="submit">New Project+</button>
      </form>
</div>
{% endif %}

{% endwith %}

{% endblock %}
