{% extends 'layout.html' %}

{% block body %}

    <h1>Profile...</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save</button>
    </form>

    {% if request.user == object %}
    <form action="{% url 'skill_add' referrer='user' referrer_id=user.id %}" method="get">
      {% csrf_token %}
      <button class="button-primary icon-on-left" type="submit">Add Skill</button>
      </form>
    {% endif %}

{% endblock %}
