{% extends 'layout.html' %}

{% block body %}


<h2>Update Project</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button-primary" type="submit">Save Project Detail</button>
</form>

<form action="{% url 'project_detail' project_id=object.id %}">
    <button class="button-primary" type="submit">Return to Project</button>
</form>

<form action="{% url 'position_add' project_id=object.id %}">
    <button class="button-primary" type="submit">Add Position</button>
</form>

<h3>Positions Available</h3>

<table class="u-full-width circle--table table-striped">
    <thead>
        <tr>
            <th>Position</th>
            <th>Skills Needed</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for position in object.position_set.all %}
        <tr class="clickable-row" data-href="{{ position.get_absolute_url }}">
        <td>
          <h5>{{ position }}</h5>
        </td>
        <td>
            {{ position.related_skills.all|join:", " }}
        </td>
        <td>
            <form action="{% url 'position_update' position_id=position.id %}" method="get">
                <button class="button icon-on-left" type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form action="{% url 'position_delete' position_id=position.id %}" method="get">
                <button class="button icon-on-left" type="submit">Delete</button>
            </form>
        </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}