.body-dark {
  font-family: "Source Sans Pro";
}

.circle--table th {
  padding: 0 0 0px 0;
  width: 30%;
}

.circle--table td {
  padding: 4px 0;
  vertical-align: middle;
}

.clickable-row td {
  color: #696969;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-family: "Source Sans Pro", sans-serif;
  padding: 4px 10px;
  border: 0;
  margin-right: 10px;
  border-radius: 0px;
  color: #fff;
  background: #444;
  box-shadow: none;
  position: relative;
}

.button.button-text, input[type="submit"].button-text,
input[type="reset"].button-text,
input[type="button"].button-text, input[type="submit"].button-text:hover, input[type="submit"].button-text:focus,
input[type="reset"].button-text:hover,
input[type="reset"].button-text:focus,
input[type="button"].button-text:hover,
input[type="button"].button-text:focus,
button.button-text {
  padding: 0px 0px;
  color: #444;
  vertical-align: middle;
}

th, td {
  padding: 0px;
  text-align: left;
}

pre, blockquote, dl, figure, table, p, ul, ol, form {
  display: inline;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.circle--primary--avatar:before {
  padding-top: 0%;
}

.table-primary, .table-primary>td, .table-primary>th {
    background-color: #e2faff;
}

.table-success, .table-success>td, .table-success>th {
    background-color: #d7e6c1;
}

table.td-header td {
  padding-right: 15px;
}

table + table {
  margin-top: 20px;
  margin-bottom: 20px;
}

table + h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

table + h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

table + h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 + circle--article--body {
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], select, input[type="tel"], input[type="url"], input[type="password"] {
  background: #fff;
  width: 100%;
  color: #666;
  font-family: "Source Sans Pro", sans-serif;
}

#id_skills, #id_related_skills {
  background: #fff;
  width: 100%;
  color: #666;
  border-radius: 8px;
  border: 1px solid #c4d8d7;
  padding: 15px;
  margin-bottom: 15px;
  font-family: "Source Sans Pro", sans-serif;
  height: 200px;
}

/* line 95, ../sass/circle/core/forms.sass */
label,
legend {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 2, ../sass/circle/components/lists.sass */
.circle--inline--list, .circle--header ul {
  font-family: "Source Sans Pro", sans-serif;
  white-space: nowrap;
}

/* line 58, ../sass/circle/components/lists.sass */
.circle--clone--list a {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 81, ../sass/circle/components/lists.sass */
.circle--pill--list a {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 51, ../sass/circle/components/headers.sass */
.circle--page--header p {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 29, ../sass/circle/components/forms.sass */
.circle--input--h1, input[type="email"].circle--input--h1, input[type="number"].circle--input--h1, input[type="search"].circle--input--h1, input[type="text"].circle--input--h1, select.circle--input--h1, input[type="tel"].circle--input--h1, input[type="url"].circle--input--h1, input[type="password"].circle--input--h1, input[type="email"].circle--input--h2, input[type="number"].circle--input--h2, input[type="search"].circle--input--h2, input[type="text"].circle--input--h2, select.circle--input--h2, input[type="tel"].circle--input--h2, input[type="url"].circle--input--h2, input[type="password"].circle--input--h2, input[type="email"].circle--input--h3, input[type="number"].circle--input--h3, input[type="search"].circle--input--h3, input[type="text"].circle--input--h3, select.circle--input--h3, input[type="tel"].circle--input--h3, input[type="url"].circle--input--h3, input[type="password"].circle--input--h3, input[type="email"].circle--input--h4, input[type="number"].circle--input--h4, input[type="search"].circle--input--h4, input[type="text"].circle--input--h4, select.circle--input--h4, input[type="tel"].circle--input--h4, input[type="url"].circle--input--h4, input[type="password"].circle--input--h4, input[type="email"].circle--input--h5, input[type="number"].circle--input--h5, input[type="search"].circle--input--h5, input[type="text"].circle--input--h5, select.circle--input--h5, input[type="tel"].circle--input--h5, input[type="url"].circle--input--h5, input[type="password"].circle--input--h5, input[type="email"].circle--input--h6, input[type="number"].circle--input--h6, input[type="search"].circle--input--h6, input[type="text"].circle--input--h6, select.circle--input--h6, input[type="tel"].circle--input--h6, input[type="url"].circle--input--h6, input[type="password"].circle--input--h6 {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 29, ../sass/circle/components/forms.sass */
.circle--input--h2 {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 29, ../sass/circle/components/forms.sass */
.circle--input--h3 {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 29, ../sass/circle/components/forms.sass */
.circle--input--h4 {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 29, ../sass/circle/components/forms.sass */
.circle--input--h5 {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 29, ../sass/circle/components/forms.sass */
.circle--input--h6 {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 87, ../sass/circle/components/containers.sass */
.circle--section > p {
  font-family: "Source Sans Pro", sans-serif;
}

/* line 28, ../sass/circle/components/containers.sass */
.circle--secondary--module > h1, .circle--secondary--module > h2, .circle--secondary--module > h3, .circle--secondary--module > h4, .circle--secondary--module > h5, .circle--secondary--module > h6 {
  font-family: "Source Sans Pro";
}

/* line 11, ../sass/circle/core/base.sass */
body {
  font-family: "Source Sans Pro";
  color: #666;
}

button, .button {
    margin-bottom: 0rem;
}

textarea {
  border: 1px solid #666;
}