{% extends 'layout.html' %}

{% block body %}

<h1 class="circle--input--h1">
    {{ object.name }}
</h1>

<h2>Positions</h2>
<i>Positions that require this skill.<br>
Click to view Project.</i><br>
<table class="u-full-width circle--table table-striped">
    <thead>
      <tr>
        <th>Position</th>
        <th>Project</th>
      </tr>
    </thead>
    <tbody>
    {% for position in object.position_set.all %}
      <tr class="clickable-row" data-href="{% url 'project_detail' project_id=position.project.id %}">
        <td>
            <h5>{{ position.position_name }}</h5>
        </td>
        <td class="circle--cell--right">{{ position.project.name }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Users</h2>
<i>Users who have this skill.<br>
Click to view Profile.</i><br>
<table class="u-full-width circle--table table-striped">
    <thead>
        <tr>
            <th>User</th>
            <th>Projects</th>
            <th>Positions</th>
        </tr>
    </thead>
    <tbody>
    {% for user, user_dict in related_users.items %}
      <tr class="clickable-row" data-href="{% url 'profile' profile_id=user.id %}">
        <td>
            <h5>{{ user.username }}</h5>
        </td>
          <td>{{ user.project_set.all|join:", " }}
          </td>
        <td class="circle--cell--right">{{ user_dict.active_positions|join:", " }}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}